.grid-actions-container {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-actions-container button {
  background-color: white;
  width: 100px;
  height: auto;
  margin: 0 0.5rem;
  padding: 0.25rem 0;
  border-radius: 0.25rem;
  border: 1px royalblue;
  font-family: 'Oswald' , sans-serif;
}

.algo-container {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.algo-container button {
  background-color: white;
  width: 100px;
  height: auto;
  margin: 0 0.5rem;
  padding: 0.25rem 0;
  border-radius: 0.25rem;
  border: 1px crimson solid;
  font-family: 'Oswald', sans-serif;
}

.algo-container button:focus {
  outline: none;
  background-color: crimson;
}

.algo-container button:hover {
cursor: pointer;
background-color: crimson;
transition:all;
transition-duration: 0.5s;
}

.grid-actions-container button:focus {
 outline: none;
 background-color: royalblue;
}

.grid-actions-container button:hover {
  cursor: pointer;
  background-color: royalblue;
  transition: all;
  transition-duration: 0.5s;
}

.grid-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-row {
  display: flex;
  flex-direction: row; 
}

.cell {
  height: 15px;
  width: 15px;
  border: 1px black solid;
}